<% provide(:title, 'Αποτελέσματα') %>
<%= render 'layouts/navbarpages' %>
<div class="top">
	<div class="container">
  		<div class="row">	
			<iframe src="http://masterbet.info/testing/spiros/PRAKTOREIA-TV/opap-games/jocker.html" frameborder="0" width="1170" height="900" scrolling="auto">
			</iframe>
		</div>
	</div>
</div>