<div class="top">
<div class="container marketing">
  <div class="row">
    
    <% if signed_in? %>
      
      
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    
    <% end %>
    
    
		
	
	</div>
	</div>
</div>