<footer class="footer">
  <small>
    <a href="http://www.masterbet.gr/">ProΩθηση App</a>
    από τον <a href="http://users.sch.gr/koumoutsos">gkoum</a>
  </small>
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>