<footer class="footer">
  	<hr class="featurette-divider">
    <a href="http://www.masterbet.gr/">ProΩθηση App</a>
    από τον <a href="http://users.sch.gr/koumoutsos">gkoum</a>
  
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>